.auth-body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #020617; 
  color: #e5e7eb;
}
.welcome-container{
  background: #050816;
  border-radius: 18px;
  border: 1px solid rgba(148, 163, 184, 0.15);
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.9);
  padding: 14px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcome{
  font-size:2.2rem;
  font-weight:800;
}

.resaltado-title{
  color:#7b2eb6;
}

.auth-wrapper {
  width: 100%;
  max-width: 420px;
  padding: 24px;
  z-index: 1;
  position: relative;
  margin: auto;
}

.auth-card {
  background: #050816;
  border-radius: 18px;
  border: 1px solid rgba(148, 163, 184, 0.15);
  box-shadow: 0 18px 45px rgba(15, 23, 42, 0.9);
  padding: 24px 24px 28px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-title {
  font-size: 1.6rem;
  margin: 0;
}

.auth-subtitle {
  margin: 0;
  font-size: 0.9rem;
  color: rgba(148, 163, 184, 0.9);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.resaltado {
  color: #7b2eb6;
  font-style: bold;
  font-size: medium;
}
.auth-form label {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: rgba(148, 163, 184, 0.9);
}

.auth-form input {
  margin-top: 4px;
  padding: 10px 12px;
  background: #020617;
  border-radius: 10px;
  border: 1px solid rgba(148, 163, 184, 0.35);
  color: #e5e7eb;
  font-size: 0.9rem;
}

.auth-form input:focus {
  outline: none;
  border-color: #a855f7;
  box-shadow: 0 0 0 1px rgba(168, 85, 247, 0.5);
}

.auth-button {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;
  border-radius: 1rem;
}
.auth-button:hover{
    border-color: #c084fc;
  box-shadow: 0 0 0 1px #c084fc;
  color: #19062c;
  cursor: pointer;
}

.auth-footer-text {
  margin: 0;
  font-size: 0.85rem;
  color: rgba(148, 163, 184, 0.9);
}

.auth-link {
  color: #a855f7;
  text-decoration: none;
  font-style: bold;
  font-size: medium;
  cursor: pointer;
}

.auth-link:hover {
  text-decoration-color: #c084fc;
  -webkit-text-stroke-color: #c084fc;
}


.logo-area {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}              

.logo-logo {
  position: absolute;
  width: 80px;
  top: 0;
  left: 0;
}
.termsof {
  display:flex;
  flex-direction: column;
  font-size: smaller;
  justify-content: center;
}


footer {
  text-align: center;
  padding: 20px 0;
}

::selection {
  background: #7c3aed; 
  color: #ffffff;
}

::-moz-selection {
  background: #7c3aed; 
  color: #ffffff;
}

